<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNameChangeExampleSuite" verbose="10">
  <test name="1.1.1-api-creation" group-by-instances="true">
    <classes>
      <!-- class name="com.stldummy.testname.TestAPIDD"/-->
      <class name="com.stldummy.testname.TestAPIDD"/>
    </classes>
  </test>
</suite>